{# Hériter une vue #}
{% extends 'base.html.twig' %}

{# surcharger des block. modifier ce qu'il y as pas defaut #}

{% block title %} 
    Accueil 
{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page home</h1>
{% endblock %}