{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

    {{ include('article/_form.html.twig', {'button_label': 'Modifier', title: "Editer un Article"}) }}

    <a href="{{ path('app_article_index') }}"> Retour a la liste </a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.choices_categories').select2();

            $("input[type='file']").change(function(){
                var file = $(this).get(0).files[0]
                if(file){
                    var reader = new FileReader();
                    reader.onload = function(){
                        var img = `<img src= '${reader.result}' alt="Preview image"/>`//element recuperé
                        $(".image-preview").html(img)// endroit d'insertion de l'element
                    }
                    reader.readAsDataURL(file);//donnée sous forme URL
                }
            })
        })

        // insertion de l'editeur de texte
        ClassicEditor
            .create(document.querySelector('#article_content' ))
            .then(editor=> {
                console.log(editor);
            })
            .catch(error => {
                console.error(error)
            });


    </script>

{% endblock %}