{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

    {{ include('article/_form.html.twig', {title: "Créer un nouvel article"}) }}

    <a href="{{ path('app_article_index') }}"> Retour a la liste </a>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.choices_categories').select2();


            $("input[type='file']").change(function(){
                var file = $(this).get(0).files[0];
                if(file){
                    var reader = new FileReader();
                    reader.onload = function(){//l'orsque reader est chargé
                        var img = `<img src=${reader.result} alt="preview image"/>`//l'element recuperé
                        $(".image-preview").html(img)//la partie du code ou inserer l'element
                    }
                    reader.readAsDataURL(file)//données sous form URL
                }
            })
        })

        // insertion de l'editeur de texte
        ClassicEditor
            .create(document.querySelector('#article_content' ))
            .then(editor=> {
                console.log(editor);
            })
            .catch(error => {
                console.error(error)
            });


    </script>

{% endblock %}